


@media only screen and (max-width:1300px) {
    #navbar_ul{
        padding-left: 0px;
        font-size: 10px;
    }
    .midle_btn{
        margin-bottom: 40px;
    }
    #navbar_ul li a{
        font-size: 18px;
    }
      #navbar_main{
        width: 100%;
    }
}
@media only screen and (max-width:990px) {
    
    #three_row .three_col{
        width: 100%;
    }
    #service_row .service_col{
        width: 50%;
    }
    #portfolio_row .portfolio_col {
        width: 100%;
        margin-bottom: 40px;
    }
    .portfolio_col .portfolio_col_1 {
        height: auto;
    }
    .portfolio_col .portfolio_col_2 {
        height: auto;
    }
    .portfolio_col .portfolio_col_3 {
        height: auto;
    }
    .portfolio_col .portfolio_col_4 {
        height: auto;
    }
    .portfolio_col .portfolio_col_5 {
        height: auto;
    }
    .portfolio_col .portfolio_col_6 {
        height: auto;
    }
    #team_row .team_col{
        width: 100%;
    }
    #testo_row .testo_col{
        width: 100%;
        margin-bottom: 20px;
    }
    #blog_row .blog_col{
        width: 100%;
        margin-bottom: 30px;
    }
    .blog_col_para{
        text-align: center;
    }
    .blog_col_btn{
        text-align: center;
    }
    #contact_row .contact_col{
        width: 100%;
    }
    #contact_row .contact_col_2{
        width: 100%;
    }
    #footer_row .footer_col{
        width: 100%;
        margin-bottom: 20px;
    }
    .blog{
        padding-bottom: 0;
    }
    .work #work_row .work_col_1 {
        width: 100%;
    }
    .work #work_row .work_col_2 {
        width: 100%;
    }
    .hero_over{
        height: 600px;
    }
    .work #work_row{
        padding: 20px;
    }
  .see #see_row .see_head{
    display: flex;
  }
  #see_row .see_col{
    width: 24%;
  }
  #service_row{
    padding-left: 20px;
  }
  #portfolio_row {
    padding-left: 20px;
  }
  #team_row{
    padding-left: 20px;
  }
}
@media only screen and (max-width:760px) {
    .see #see_row .see_head h3 {
        font-size: 27px;
    }
    .see_col .see_col_details{
        width: 150px;
        height: 120px;
        border-radius: 0;
        padding-right: 10px;
    }
    .see_col_details_para i{
        font-size: 25px;
    }
    #see_row_see_col{
        display: flex;
        justify-content: space-between;
        
    }
}





@media only screen and (max-width:650px) {
    #service_row .service_col{
        width: 100%;
    }
    .midle_btn .service {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:400px) {
    .midle_para h1{
        font-size: 50px;
    }
    .midle_para h3{
        font-size: 20px;
    }
    .midle_btn .service {
        margin-bottom: 20px;
    }
    .midle_btn .contact {
        margin-bottom: 30px;
    }
 
}